<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr>
    <h1>Tin Chi Tiet</h1>
    <hr>
    <div id="chitiet">
        <script>
        fetch("http://localhost:3000/tin/<%=id%>")
            .then ( res => res.json())
            .then ( data => {
                console.log(data);
                let = document.getElementById("chitiet");
                data.forEach(tin => {
                    chitiet.innerHTML+= `
                        <div>
                            <h4>${tin.TieuDe}</h4>
                            <p>${tin.TomTat}</p>
                            <p>${tin.Content}</p>
                            <p>${tin.Ngay}</p>
                            <p>${tin.SoLanXem}</p>
                        </div>

                    `;
                });
            })
        </script>
    </div>
</body>
</html>